# RNN para Named Entity Recognition de un custom tag
En nuestro modelo anterior analizamos el audio de spots publicitarios en el cual utilizamos el script para categorizarlo por lenguaje, en este modelo vamos a analizar todos los Spots en los cuales el clientname aparece dentro del script para poder de esta forma ponderizar mas este token al momento de realizar busquedas

In [236]:
import re
import numpy as np
from sklearn.externals.joblib import dump, load
import keras
import csv
import pandas as pd
from pandas import DataFrame
import sys
csv.field_size_limit(sys.maxsize)
import spacy
from spacy import displacy
import en_core_web_sm
nlp = en_core_web_sm.load()
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional, Lambda
from tensorflow.keras.utils import plot_model
from numpy.random import seed
seed(1)
tensorflow.random.set_seed(2)
from keras.callbacks import ModelCheckpoint, TensorBoard
from keras.layers.merge import add
import scipy

In [126]:

LENGUAJES_DICT = {'en':0,'fr':1,'es':2}
modeloMLP = keras.models.load_model('modeloMLP.h5')
sc=load('std_scaler.bin')
LABELS =  list(LENGUAJES_DICT.keys())
def removertags(text):
    return re.sub(r'<[^<]+?>', '', text)

def removerparentesis(text):
    return re.sub("[\(\[].*?[\)\]]", "", text)

def removerlineas(text):
    return text.replace('\n', ' ') 
    
def removerespacios(text):
    return re.sub(r'\s+', ' ', text)

def limpiar_text(text):
    text = removertags(text)
    text = removerlineas(text)
    text = removerlineas(text)
    text = removerespacios(text)
    return text
def obtener_sample(file_content,start_index,sample_size):
    while not (file_content[start_index].isspace()):
        start_index += 1
    while file_content[start_index].isspace():
        start_index += 1
    end_index = start_index+sample_size 
    while not (file_content[end_index].isspace()):
        end_index -= 1
    return file_content[start_index:end_index]
def definir_alfabeto():
    base_en = 'abcdefghijklmnopqrstuvwxyz'
    special_chars = ' !?¿¡'
    french = 'àâæçéèêêîïôœùûüÿ'
    spanish = 'áéíóúüñ'
    all_lang_chars = base_en + french + spanish 
    small_chars = list(set(list(all_lang_chars)))
    small_chars.sort() 
    big_chars = list(set(list(all_lang_chars.upper())))
    big_chars.sort()
    small_chars += special_chars
    letters_string = ''
    letters = small_chars + big_chars
    for letter in letters:
        letters_string += letter
    return small_chars,big_chars,letters_string
alfabeto = definir_alfabeto()
def contar_chars(text, alphabet):
    alphabet_counts = []
    for letter in alphabet:
        count = text.count(letter)
        alphabet_counts.append(count)
    return alphabet_counts

def obtener_fila(content,start_index,sample_size, alphabet):
    sample_text = obtener_sample(content,start_index,sample_size)
    counted_chars_all = contar_chars(sample_text.lower(), alphabet[0])
    counted_chars_big = contar_chars(sample_text, alphabet[1])
    all_parts = counted_chars_all + counted_chars_big
    return all_parts
def predecir(TEXT):
    cleaned_text = limpiar_text(TEXT)
    while(len(cleaned_text) < 150 ):
        cleaned_text += ' ' + cleaned_text
    input_row = obtener_fila(cleaned_text, 0, 140, alfabeto)
    test_array = sc.transform([input_row])
    raw_score = modeloMLP.predict(test_array)
    pred_idx= np.argmax(raw_score, axis=1)[0]
    score = raw_score[0][pred_idx]*100
    prediction = LABELS[modeloMLP.predict_classes(test_array)[0]]
    return prediction
def remove_html_tags(text):
    """Remove html tags from a string"""
    import re
    clean = re.compile('<.*?>')
    text = re.sub(clean, ' ', text)
    regex = re.compile("\((.*?)\)")
    text = re.sub(regex,'', text)
    regex = re.compile("&.*?;")
    text = re.sub(regex,'', text)
    return text

En este punto voy a separar todos los scripts en sus oraciones por medio de , . \<br> o nueva linea para que de esta forma cada elemento del dataframe contenga las supuestas oraciones incluidas en el script

In [134]:
crs = []
i = 0
with open('querySpotsClientInScript.csv', newline='') as File:  
    reader = csv.reader(File)
    for row in reader:
        scriptnospaces = re.sub('[^A-Za-z0-9]+','', remove_html_tags(row[4]))
        if( len(scriptnospaces) > 15 ):
            lang = predecir(script)
            if lang == 'fr':
                lang = 'es' 
            if lang == 'es' or lang == 'en' or lang == 'fr':
                sentences = row[4].split(',')
                for s in sentences:
                    actuals = s.split('.')
                    for s2 in actuals:
                        actuals2 = s2.split('\n')
                        for s3 in actuals2:
                            actuals3 = s3.split('<br>')
                            for s4 in actuals3:
                                if len(s4.split(' ')) > 3:
                                    crs.append([
                                        row[1].lower(),
                                        remove_html_tags(s4.lower()),
                                        lang
                                       ])
            b = "Loading " + str(i)
            print (b, end="\r")
            i+=1
                
crdf = DataFrame(crs,columns=['clientname','script', lang])

Loading 65139

In [46]:
crdf.describe()

       clientname  script      es
count      590415  590415  590415
unique       5392  260516       1
top       menards              es
freq        20057    1965  590415

In [69]:
crdf.head()

        clientname                                             script  es
0  icon night club   icon night club the newest hottest spot in to...  es
1  icon night club               meringue barchata y rock en espanol   es
2  icon night club               ladies get in for free before 11pm    es
3  icon night club                $ 1 dollar mix drinks before 11pm    es
4  icon night club   be our vip guest - call 214-351-1622 and rese...  es

In [49]:
crdf.iloc[46564]['script']

' offers easy credit financing and has spanish speaking staff in every department? '

In [76]:
len(crdf)

590415

# Preprocesamiento
Ahora vamos a pasar nlp a cada una de las oraciones vamos a remover todos los spacios y vamos a marcar cada token con 
las siguientes caracteristicas
Numero de Oracion, Token, POS, Tag

El tag vamos a sacarlo por medio de dos opciones ya sea un O para entidad desconocida o C para la entidad cliente si el 
token esta incluido en el nombre de cliente lo vamos a marcar como C

In [78]:
i = 0
tokens = []
for i in range(len(crdf)):
    sentence = crdf.iloc[i]
    if sentence['clientname'] in sentence['script']:
        doc = nlp(sentence['script'])
        for token in doc:
            if token.pos_ != 'SPACE':
                tag = 'O'
                if token.text in sentence['clientname']:
                    tag = 'C'
                tokens.append([i+1,token.text,token.pos_,tag])
    print (i, end="\r")
len(tokens)

2304961

Ahora vamos a sacar el identificador de nuestros tokens y un identificador del tag asociado al token esto para poder enviar valores numericos a nuestra red neuronal

In [92]:
from itertools import chain
def get_dict(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    if token_or_tag == 'token':
        vocab = list(set(data['text'].to_list()))
    else:
        vocab = list(set(data['tag'].to_list()))
    
    idx2tok = {idx:tok for  idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for  idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok

In [88]:
datatokens = DataFrame(tokens,columns=['sentence','text', 'post','tag'])

In [89]:
datatokens.head()

   sentence    text   post tag
0         1    icon  PROPN   C
1         1   night   NOUN   C
2         1    club  PROPN   C
3         1     the    DET   O
4         1  newest    ADJ   O

In [93]:
token2idx, idx2token = get_dict(datatokens, 'token')
tag2idx, idx2tag = get_dict(datatokens, 'tag')

In [96]:
datatokens['text_idx'] = datatokens['text'].map(token2idx)
datatokens['tag_idx'] = datatokens['tag'].map(tag2idx)
datatokens.head()

   sentence    text   post tag  text_idx  tag_idx
0         1    icon  PROPN   C     44421        0
1         1   night   NOUN   C     34252        0
2         1    club  PROPN   C     38693        0
3         1     the    DET   O     14732        1
4         1  newest    ADJ   O     30137        1

Ahora vamos a agrupar todas las oraciones con sus respectivos arreglos a marcar

In [98]:
datatokensg = datatokens.groupby(
['sentence'],as_index=False
)['text', 'post', 'tag', 'text_idx', 'tag_idx'].agg(lambda x: list(x))
datatokensg.head()

/opt/anaconda2/envs/tf/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

,sentence,text,post,tag,text_idx,tag_idx
0,1,"[icon, night, club, the, newest, hottest, spot...","[PROPN, NOUN, PROPN, DET, ADJ, ADJ, NOUN, ADP,...","[C, C, C, O, O, O, O, O, O, O, C, O, O, O, O]","[44421, 34252, 38693, 14732, 30137, 18441, 171...","[0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1]"
1,8,"[icon, night, club, your, new, favorite, club,...","[PROPN, NOUN, PROPN, DET, ADJ, ADJ, NOUN, NUM,...","[C, C, C, O, O, O, C, O, O, O, O, O, O, O, O, ...","[44421, 34252, 38693, 9895, 43491, 11425, 3869...","[0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,9,"[icon, night, club, el, sitio, mas, nuevo, y, ...","[PROPN, PROPN, PROPN, PROPN, PROPN, PROPN, PRO...","[C, C, C, O, O, O, O, O, O, O, O, O, O, O, O, ...","[44421, 34252, 38693, 3136, 44105, 5247, 8180,...","[0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,15,"[valet, parking, disponible, icon, night, club...","[PROPN, NOUN, ADJ, NOUN, NOUN, NOUN, PUNCT]","[O, O, O, C, C, C, O]","[31503, 5000, 40297, 44421, 34252, 38693, 9605]","[1, 1, 1, 0, 0, 0, 1]"
4,18,"[el, restaurante, que, esta, en, la, boca, de,...","[PROPN, PROPN, PROPN, PROPN, PROPN, PROPN, PRO...","[O, O, O, O, O, C, O, O, O, O, C, C, C, O, O, O]","[3136, 39991, 9517, 21459, 35579, 32034, 22893...","[1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1]"

In [104]:
def get_pad_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['text'].to_list())))
    n_tag = len(list(set(data['tag'].to_list())))

    #Pad tokens (X var)    
    tokens = data_group['text_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]
    
    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(datatokensg, datatokens)

In [105]:
train_tokens.shape

(93585, 231)

In [106]:
val_tokens.shape

(31196, 231)

In [107]:
test_tokens.shape

(13865, 231)

In [110]:
len(train_tags)

93585

In [111]:
len(val_tags)

31196

In [112]:
len(test_tags)

13865

In [115]:
input_dim = len(list(set(datatokens['text'].to_list())))+1
output_dim = 64
input_length = max([len(s) for s in datatokensg['text_idx'].tolist()])
n_tags = len(tag2idx)
print('input_dim: ', input_dim, '\noutput_dim: ', output_dim, '\ninput_length: ', input_length, '\nn_tags: ', n_tags)

input_dim:  44938
output_dim:  64
input_length:  231
n_tags:  2

In [123]:
model = Sequential()
model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))
model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))
model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))
model.add(TimeDistributed(Dense(n_tags, activation="relu")))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()
tensorboard = TensorBoard(log_dir="run")
history = model.fit(train_tokens,np.array(train_tags),
                  epochs=2,
                  validation_split=0.20,
                  shuffle=True,
                  verbose=2)
scores = model.evaluate(X_test, Y_test, verbose=1)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_6 (Embedding)      (None, 231, 64)           2876032
_________________________________________________________________
bidirectional_6 (Bidirection (None, 231, 128)          66048
_________________________________________________________________
lstm_13 (LSTM)               (None, 231, 64)           49408
_________________________________________________________________
time_distributed_6 (TimeDist (None, 231, 2)            130
=================================================================
Total params: 2,991,618
Trainable params: 2,991,618
Non-trainable params: 0
_________________________________________________________________
Epoch 1/2
2340/2340 - 1824s - loss: nan - accuracy: 0.0126 - val_loss: nan - val_accuracy: 0.0126
Epoch 2/2
2340/2340 - 1756s - loss: nan - accuracy: 0.0125 - val_loss: nan - val_accuracy: 0.0126

NameError: name 'X_test' is not defined

En este punto me di cuenta que algo estaba mal ya que el accuracy estuvo muy bajo y no hubo mejora en el modelo y esto fue debido a que mezcle los dos lenguajes de mis scripts mientras que el nlp a usar deberia de recibir solo scripts en ingles

In [132]:
crs = []
i = 0
with open('querySpotsClientInScript.csv', newline='') as File:  
    reader = csv.reader(File)
    for row in reader:
        scriptnospaces = re.sub('[^A-Za-z0-9]+','', remove_html_tags(row[4]))
        if( len(scriptnospaces) > 15 ):
            lang = predecir(remove_html_tags(row[4]))
            if lang == 'fr':
                lang = 'es' 
            if lang == 'en' or lang == 'fr':
                sentences = row[4].split(',')
                for s in sentences:
                    actuals = s.split('.')
                    for s2 in actuals:
                        actuals2 = s2.split('\n')
                        for s3 in actuals2:
                            actuals3 = s3.split('<br>')
                            for s4 in actuals3:
                                if len(s4.split(' ')) > 3:
                                    crs.append([
                                        row[1].lower(),
                                        remove_html_tags(s4.lower()),
                                        lang
                                       ])
            b = "Loading " + str(i)
            print (b, end="\r")
            i+=1
                
crdf = DataFrame(crs,columns=['clientname','script', lang])

In [135]:
len(crdf)

161352

In [136]:
i = 0
tokens = []
for i in range(len(crdf)):
    sentence = crdf.iloc[i]
    if sentence['clientname'] in sentence['script']:
        doc = nlp(sentence['script'])
        for token in doc:
            if token.pos_ != 'SPACE':
                tag = 'O'
                if token.text in sentence['clientname']:
                    tag = 'C'
                tokens.append([i+1,token.text,token.pos_,tag])
    print (i, end="\r")
len(tokens)

619650

In [137]:
datatokens = DataFrame(tokens,columns=['sentence','text', 'post','tag'])
token2idx, idx2token = get_dict(datatokens, 'token')
tag2idx, idx2tag = get_dict(datatokens, 'tag')
datatokens['text_idx'] = datatokens['text'].map(token2idx)
datatokens['tag_idx'] = datatokens['tag'].map(tag2idx)
datatokensg = datatokens.groupby(
['sentence'],as_index=False
)['text', 'post', 'tag', 'text_idx', 'tag_idx'].agg(lambda x: list(x))
datatokensg.head()

/opt/anaconda2/envs/tf/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,sentence,text,post,tag,text_idx,tag_idx
0,1,"[icon, night, club, the, newest, hottest, spot...","[PROPN, NOUN, PROPN, DET, ADJ, ADJ, NOUN, ADP,...","[C, C, C, O, O, O, O, O, O, O, C, O, O, O, O]","[18685, 1173, 8849, 6172, 13588, 12738, 10366,...","[0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1]"
1,8,"[icon, night, club, your, new, favorite, club,...","[PROPN, NOUN, PROPN, DET, ADJ, ADJ, NOUN, NUM,...","[C, C, C, O, O, O, C, O, O, O, O, O, O, O, O, ...","[18685, 1173, 8849, 17266, 17119, 459, 8849, 4...","[0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,9,"[ojos, locos, fight, night, 12/8]","[PROPN, PROPN, VERB, NOUN, NOUN]","[C, C, O, O, O]","[10301, 4199, 16516, 1173, 12393]","[0, 0, 1, 1, 1]"
3,10,"[get, to, ojos, locos, sports, cantina, and, w...","[AUX, ADP, PROPN, PROPN, PROPN, PROPN, CCONJ, ...","[O, O, C, C, O, O, O, O, O, O, O]","[6732, 6250, 10301, 4199, 3352, 17675, 11561, ...","[1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]"
4,16,"[ojos, locos, in, dallas, at, the, corner, of,...","[PROPN, PROPN, ADP, PROPN, ADP, DET, NOUN, ADP...","[C, C, O, O, O, O, O, O, O, O, O, O, O]","[10301, 4199, 18399, 17435, 16614, 6172, 15684...","[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"

In [138]:
train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(datatokensg, datatokens)

In [141]:
input_dim = len(list(set(datatokens['text'].to_list())))+1
output_dim = 64
input_length = max([len(s) for s in datatokensg['text_idx'].tolist()])
n_tags = len(tag2idx)
print('input_dim: ', input_dim, '\noutput_dim: ', output_dim, '\ninput_length: ', input_length, '\nn_tags: ', n_tags)
model = Sequential()
model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))
model.add(TimeDistributed(Dense(n_tags, activation="relu")))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()
tensorboard = TensorBoard(log_dir="run")
history = model.fit(train_tokens,np.array(train_tags),
                  epochs=2,
                  validation_split=0.20,
                  shuffle=True,
                  verbose=2)

input_dim:  19552
output_dim:  64
input_length:  163
n_tags:  2
Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_9 (Embedding)      (None, 163, 64)           1251328
_________________________________________________________________
time_distributed_9 (TimeDist (None, 163, 2)            130
=================================================================
Total params: 1,251,458
Trainable params: 1,251,458
Non-trainable params: 0
_________________________________________________________________
Epoch 1/2
618/618 - 5s - loss: nan - accuracy: 0.0174 - val_loss: nan - val_accuracy: 0.0174
Epoch 2/2
618/618 - 6s - loss: nan - accuracy: 0.0174 - val_loss: nan - val_accuracy: 0.0174

In [142]:
model = Sequential()
model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))
model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))
model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))
model.add(TimeDistributed(Dense(n_tags, activation="relu")))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()
tensorboard = TensorBoard(log_dir="run")
history = model.fit(train_tokens,np.array(train_tags),
                  epochs=2,
                  validation_split=0.20,
                  shuffle=True,
                  verbose=2)

Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_10 (Embedding)     (None, 163, 64)           1251328
_________________________________________________________________
bidirectional_7 (Bidirection (None, 163, 128)          66048
_________________________________________________________________
lstm_15 (LSTM)               (None, 163, 64)           49408
_________________________________________________________________
time_distributed_10 (TimeDis (None, 163, 2)            130
=================================================================
Total params: 1,366,914
Trainable params: 1,366,914
Non-trainable params: 0
_________________________________________________________________
Epoch 1/2
618/618 - 314s - loss: nan - accuracy: 0.0188 - val_loss: nan - val_accuracy: 0.0174
Epoch 2/2
618/618 - 312s - loss: nan - accuracy: 0.0174 - val_loss: nan - val_accuracy: 0.0174

In [218]:
output_dim = 4
model = Sequential()
model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))
model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))
model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))
model.add(TimeDistributed(Dense(n_tags, activation="relu")))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()
tensorboard = TensorBoard(log_dir="run")
history = model.fit(train_tokens,np.array(train_tags),
                  epochs=2,
                  validation_split=0.20,
                  shuffle=True,
                  verbose=2)

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_11 (Embedding)     (None, 163, 4)            78208
_________________________________________________________________
bidirectional_10 (Bidirectio (None, 163, 8)            288
_________________________________________________________________
lstm_19 (LSTM)               (None, 163, 4)            208
_________________________________________________________________
time_distributed_11 (TimeDis (None, 163, 2)            10
=================================================================
Total params: 78,714
Trainable params: 78,714
Non-trainable params: 0
_________________________________________________________________
Train on 19771 samples, validate on 4943 samples
Epoch 1/2
19771/19771 - 203s - loss: nan - accuracy: 0.0178 - val_loss: nan - val_accuracy: 0.0174
Epoch 2/2
19771/19771 - 212s - loss: nan - accuracy: 0.0174 - val_loss: nan - val_accuracy: 0.0174

In [226]:
train_tokens[56]

array([ 3438,  9779, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550], dtype=int32)

In [240]:
lengths = []
for k in range(len(datatokensg)):
    lengths.append(len(datatokensg.iloc[k]['text']))
lengths = np.array(lengths)

In [241]:
np.max(lengths)

163

In [242]:
np.min(lengths)

1

In [234]:
np.median(lengths)

13.0

In [238]:
scipy.stats.describe(lengths)

DescribeResult(nobs=36614, minmax=(1, 163), mean=16.923854263396514, variance=159.78400310508152, skewness=2.485677318324948, kurtosis=11.089954558493826)

In [250]:
len(lengths[lengths<10])

10895

In [248]:
len(lengths[lengths>30])

4052

In [249]:
len(lengths)

36614

Me di cuenta que mis datos estan muy desbalanceados ya que el largo de padding que tenia de 132 esta muy alejado a la mediana y media de la cantidad de palabras que yo quiero analizar por lo cual voy a hacer un trim y voy a agarrar unicamente la parte de las oraciones donde se mencione el cliente con un largo de 30 como maximo

In [269]:
newdatatokensg = []
for f in range(len(datatokensg)):
    if len(datatokensg.iloc[f]['text']) < 30:
        newdatatokensg.append(datatokensg.iloc[f])
len(newdatatokensg)

32224

In [271]:
newdatatokensg[0]

sentence                                                    1
text        [icon, night, club, the, newest, hottest, spot...
post        [PROPN, NOUN, PROPN, DET, ADJ, ADJ, NOUN, ADP,...
tag             [C, C, C, O, O, O, O, O, O, O, C, O, O, O, O]
text_idx    [18685, 1173, 8849, 6172, 13588, 12738, 10366,...
tag_idx         [0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1]
Name: 0, dtype: object

In [272]:
newdatatokensg = DataFrame(newdatatokensg,columns=['sentence','text', 'post','tag','text_idx','tag_idx'])

In [297]:
def get_pad_train_test_val_pad(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['text'].to_list())))
    n_tag = len(list(set(data['tag'].to_list())))

    #Pad tokens (X var)    
    tokens = data_group['text_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]
    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)
    
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

In [292]:
train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val_pad(newdatatokensg, datatokens)

sentence                                                    1
text        [icon, night, club, the, newest, hottest, spot...
post        [PROPN, NOUN, PROPN, DET, ADJ, ADJ, NOUN, ADP,...
tag             [C, C, C, O, O, O, O, O, O, O, C, O, O, O, O]
text_idx    [18685, 1173, 8849, 6172, 13588, 12738, 10366,...
tag_idx         [0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1]
Name: 0, dtype: object
[18685  1173  8849  6172 13588 12738 10366 18399  9730 19327  1173  6172
  4482  3056 18939 19550 19550 19550 19550 19550 19550 19550 19550 19550
 19550 19550 19550 19550 19550]
[[1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]]

In [293]:
train_tokens.shape

(21750, 29)

In [294]:
datatokensg.iloc[0]

sentence                                                    1
text        [icon, night, club, the, newest, hottest, spot...
post        [PROPN, NOUN, PROPN, DET, ADJ, ADJ, NOUN, ADP,...
tag             [C, C, C, O, O, O, O, O, O, O, C, O, O, O, O]
text_idx    [18685, 1173, 8849, 6172, 13588, 12738, 10366,...
tag_idx         [0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1]
Name: 0, dtype: object

In [295]:
train_tokens[0]

array([18150, 17205, 10691,  3200,  8202, 12884,  6459,  3552,  1138,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550, 19550,
       19550, 19550], dtype=int32)

In [296]:
train_tags[0]

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]], dtype=float32)

In [1]:
input_dim = len(list(set(datatokens['text'].to_list())))+1
output_dim = 128
input_length = max([len(s) for s in newdatatokensg['text_idx'].tolist()])
n_tags = len(tag2idx)
print('input_dim: ', input_dim, '\noutput_dim: ', output_dim, '\ninput_length: ', input_length, '\nn_tags: ', n_tags)

model = Sequential()
model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))
model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))
model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))
model.add(TimeDistributed(Dense(n_tags, activation="relu")))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()
tensorboard = TensorBoard(log_dir="run")
history = model.fit(train_tokens,np.array(train_tags),
                  epochs=10,
                  validation_split=0.20,
                  shuffle=True,
                  verbose=2)

Model: "sequential_12"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_11 (Embedding)     (None, 163, 4)            78208
_________________________________________________________________
bidirectional_10 (Bidirectio (None, 163, 8)            288
_________________________________________________________________
lstm_19 (LSTM)               (None, 163, 4)            208
_________________________________________________________________
time_distributed_11 (TimeDis (None, 163, 2)            10
=================================================================
Total params: 78,714
Trainable params: 78,714
Non-trainable params: 0
_________________________________________________________________
Train on 19771 samples, validate on 4943 samples
Epoch 1/10
19771/19771 - 203s - loss: nan - accuracy: 0.543 - val_loss: nan - val_accuracy: 0.574
Epoch 2/10
19771/19771 - 212s - loss: nan - accuracy: 0.548 - val_loss: nan - val_accuracy: 0.551
Epoch 3/10
19771/19771 - 230s - loss: nan - accuracy: 0.622 - val_loss: nan - val_accuracy: 0.618
Epoch 4/10
19771/19771 - 248s - loss: nan - accuracy: 0.677 - val_loss: nan - val_accuracy: 0.651
Epoch 5/10
19771/19771 - 235s - loss: nan - accuracy: 0.777 - val_loss: nan - val_accuracy: 0.723
Epoch 6/10
19771/19771 - 278s - loss: nan - accuracy: 0.822 - val_loss: nan - val_accuracy: 0.811
Epoch 7/10
19771/19771 - 250s - loss: nan - accuracy: 0.853 - val_loss: nan - val_accuracy: 0.832
Epoch 8/10
19771/19771 - 232s - loss: nan - accuracy: 0.867 - val_loss: nan - val_accuracy: 0.849
Epoch 9/10
19771/19771 - 245s - loss: nan - accuracy: 0.877 - val_loss: nan - val_accuracy: 0.866
Epoch 10/10
19771/19771 - 215s - loss: nan - accuracy: 0.881 - val_loss: nan - val_accuracy: 0.875

# Conclusion
El darme cuenta de los paddings que estaba utilizando en mi embedding y de la comparacion de las palabras dependiendo del lenguaje fue crucial para poder entrenar el algoritmo de forma correca