# Problema #2

In [117]:
import os
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [118]:
f = open("imdb_rev.txt", "r")
filecontents = f.read()

In [119]:
lines = filecontents.splitlines()

In [120]:
len(lines)

1002

In [127]:
landcols = []
lines = lines[0:1001]
for line in lines:
    nl = line.split('\t')
    if len(nl) > 1 :
        nl[1]= int(nl[1])
    else:
        nl.append(0)
    landcols.append(nl)
df = pd.DataFrame(landcols,columns=['Text','Review'])
df

                                                   Text  Review
0     A very, very, very slow-moving, aimless movie ...       0
1     Not sure who was more lost - the flat characte...       0
2     Attempting artiness with black & white and cle...       0
3          Very little music or anything to speak of.         0
4     The best scene in the movie was when Gerardo i...       1
...                                                 ...     ...
996             I never walked out of a movie faster.         0
997   I just got bored watching Jessice Lange take h...       0
998   Unfortunately, any virtue in this film's produ...       0
999                    In a word, it is embarrassing.         0
1000                               Exceptionally bad!         0

[1001 rows x 2 columns]

In [128]:
df.Review.value_counts()

0    501
1    500
Name: Review, dtype: int64

In [129]:
def quitarSimbolos(dataset):
    simbolos = "~`!@#$%^&*()_-+={[}]|\:;'<,>.?/"
    for i in range(dataset.shape[0]):
        dataset["Text"][i] = "".join([char for char in dataset["Text"][i] if char not in simbolos])
    return dataset

In [130]:
def tokenizar(dataset):
    tokenizador = nltk.tokenize.TreebankWordTokenizer()
    for i in range(dataset.shape[0]):
        dataset['Text'][i] = tokenizador.tokenize(dataset['Text'][i])
    return dataset

In [131]:
def removersw(dataset):
    stop_words = set(stopwords.words('english'))
    for i in range(dataset.shape[0]):
        dataset["Text"][i] = ([token.lower() for token in dataset["Text"][i] if token not in stop_words])
    return dataset

In [132]:
def normalizar(dataset):
    lematizador = nltk.stem.WordNetLemmatizer()
    for i in range(dataset.shape[0]):
        dataset["Text"][i] = " ".join([lematizador.lemmatize(token) for token in dataset["Text"][i]]).strip()
    return dataset

In [133]:
df = tokenizar(df)
df = removersw(df)
df = normalizar(df)
df = quitarSimbolos(df)
df

/Users/luisgarcia/.conda/envs/Script/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                                                   Text  Review
0     a   slowmoving  aimless movie distressed  drif...       0
1     not sure lost  flat character audience  nearly...       0
2     attempting artiness black  white clever camera...       0
3                     very little music anything speak        0
4     the best scene movie gerardo trying find song ...       1
...                                                 ...     ...
996                        i never walked movie faster        0
997    i got bored watching jessice lange take clothes        0
998   unfortunately  virtue film s production work l...       0
999                              in word  embarrassing        0
1000                                 exceptionally bad        0

[1001 rows x 2 columns]

In [135]:
dftest = df.sample(int(0.5 * len(df)))
dftest

                                                  Text  Review
590           beware  trashy cult movie  trash period        0
853                         the acting beyond abysmal        0
739  the plot hole pair fishnet stocking direction ...       0
521                      it zillion time away reality        0
796                  it clear range ability pull part        1
..                                                 ...     ...
381  all movie make sick watching slacker make excu...       0
745  emily watson s character strong  give quick gl...       1
364                         definitely worth checking        1
587                       is possible movie get worse        0
821  angus scrimm also turn good performance somewh...       1

[500 rows x 2 columns]

In [136]:
df.iloc[0]["Text"]

'a   slowmoving  aimless movie distressed  drifting young man '

In [137]:
def fit_corpus(train_data, test_data):
    corpus = pd.DataFrame({"Text": train_data["Text"]})
    corpus["Text"].append(test_data["Text"], ignore_index=True)
    tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1,2))
    tfidf.fit(corpus["Text"])
    return tfidf

In [138]:
def transform_data(tfidf, dataset):
    features = tfidf.transform(dataset["Text"])
    return pd.DataFrame(features.todense(), columns = tfidf.get_feature_names())

In [140]:
tfidf = fit_corpus(df, dftest)  #TFIDF
train_features = transform_data(tfidf, df)  #Transformar 
test_features = transform_data(tfidf, dftest)    #Entrenar
train_labels = df["Review"]
test_labels = dftest["Review"]

# Entrenando con Regresion Logistica

In [141]:
clf = LogisticRegression(random_state=0, solver='lbfgs')

In [142]:
clf.fit(train_features, train_labels)

LogisticRegression(random_state=0)

In [144]:
clf.predict(test_features.iloc[[0]])

array([0])

# SCORE

In [145]:
clf.score(test_features, test_labels)

0.942