In [625]:
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn import tree
from sklearn.naive_bayes import BernoulliNB
import pandas as pd
import csv
import tensorflow.compat.v1 as tf 
tf.compat.v1.disable_eager_execution()
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [653]:
# Primero vamos a cargar los datos
with open('data_titanic_proyecto.csv', newline='') as csvfile:
    data = list(csv.reader(csvfile))
data[11]

['11',
 'Sandstrom, Miss. Marguerite Rut',
 '4.0',
 '1',
 '1',
 'PP 9549',
 '16.7',
 'G6',
 'S',
 'Lower',
 'F',
 'Y']

In [629]:
#Ahora los vamos a guardar en un arreglo y remover alguna columnas de la informacion
data = np.array(data)
# Desde mi punto de vista el nombre de la persona y 
# su passenger id no deberia de influir en la decision por lo cual lo vamos a remover
data = data[:,2:]
columnas = data[0]
data = data[1:]
for i in range(len(columnas)):
    print ( 'Columna ' + str(i) +' = ' + str(columnas[i]))
print(len(data))

Columna 0 = Age
Columna 1 = SibSp
Columna 2 = Parch
Columna 3 = Ticket
Columna 4 = Fare
Columna 5 = Cabin
Columna 6 = Embarked
Columna 7 = passenger_class
Columna 8 = passenger_sex
Columna 9 = passenger_survived
891

In [631]:
# Ahora vamos a encontrar las columas que necesitan hacer one hot encoding
dfData = pd.DataFrame(data)
print(dfData[3].unique())
print(dfData[5].unique())
print(dfData[6].unique())
print(dfData[7].unique())
print(dfData[8].unique())

['A/5 21171' 'PC 17599' 'STON/O2. 3101282' '113803' '373450' '330877'
 '17463' '349909' '347742' '237736' 'PP 9549' '113783' 'A/5. 2151'
 '347082' '350406' '248706' '382652' '244373' '345763' '2649' '239865'
 '248698' '330923' '113788' '347077' '2631' '19950' '330959' '349216'
 'PC 17601' 'PC 17569' '335677' 'C.A. 24579' 'PC 17604' '113789' '2677'
 'A./5. 2152' '345764' '2651' '7546' '11668' '349253' 'SC/Paris 2123'
 '330958' 'S.C./A.4. 23567' '370371' '14311' '2662' '349237' '3101295'
 'A/4. 39886' 'PC 17572' '2926' '113509' '19947' 'C.A. 31026' '2697'
 'C.A. 34651' 'CA 2144' '2669' '113572' '36973' '347088' 'PC 17605' '2661'
 'C.A. 29395' 'S.P. 3464' '3101281' '315151' 'C.A. 33111' 'S.O.C. 14879'
 '2680' '1601' '348123' '349208' '374746' '248738' '364516' '345767'
 '345779' '330932' '113059' 'SO/C 14885' '3101278' 'W./C. 6608'
 'SOTON/OQ 392086' '343275' '343276' '347466' 'W.E.P. 5734' 'C.A. 2315'
 '364500' '374910' 'PC 17754' 'PC 17759' '231919' '244367' '349245'
 '349215' '35281' '7540' '3101276' '349207' '343120' '312991' '349249'
 '371110' '110465' '2665' '324669' '4136' '2627' 'STON/O 2. 3101294'
 '370369' 'PC 17558' 'A4. 54510' '27267' '370372' 'C 17369' '2668'
 '347061' '349241' 'SOTON/O.Q. 3101307' 'A/5. 3337' '228414' 'C.A. 29178'
 'SC/PARIS 2133' '11752' '7534' 'PC 17593' '2678' '347081'
 'STON/O2. 3101279' '365222' '231945' 'C.A. 33112' '350043' '230080'
 '244310' 'S.O.P. 1166' '113776' 'A.5. 11206' 'A/5. 851' 'Fa 265302'
 'PC 17597' '35851' 'SOTON/OQ 392090' '315037' 'CA. 2343' '371362'
 'C.A. 33595' '347068' '315093' '363291' '113505' 'PC 17318' '111240'
 'STON/O 2. 3101280' '17764' '350404' '4133' 'PC 17595' '250653' 'LINE'
 'SC/PARIS 2131' '230136' '315153' '113767' '370365' '111428' '364849'
 '349247' '234604' '28424' '350046' 'PC 17610' '368703' '4579' '370370'
 '248747' '345770' '3101264' '2628' 'A/5 3540' '347054' '2699' '367231'
 '112277' 'SOTON/O.Q. 3101311' 'F.C.C. 13528' 'A/5 21174' '250646'
 '367229' '35273' 'STON/O2. 3101283' '243847' '11813' 'W/C 14208'
 'SOTON/OQ 392089' '220367' '21440' '349234' '19943' 'PP 4348' 'SW/PP 751'
 'A/5 21173' '236171' '347067' '237442' 'C.A. 29566' 'W./C. 6609' '26707'
 'C.A. 31921' '28665' 'SCO/W 1585' '367230' 'W./C. 14263'
 'STON/O 2. 3101275' '2694' '19928' '347071' '250649' '11751' '244252'
 '362316' '113514' 'A/5. 3336' '370129' '2650' 'PC 17585' '110152'
 'PC 17755' '230433' '384461' '110413' '112059' '382649' 'C.A. 17248'
 '347083' 'PC 17582' 'PC 17760' '113798' '250644' 'PC 17596' '370375'
 '13502' '347073' '239853' 'C.A. 2673' '336439' '347464' '345778'
 'A/5. 10482' '113056' '349239' '345774' '349206' '237798' '370373'
 '19877' '11967' 'SC/Paris 2163' '349236' '349233' 'PC 17612' '2693'
 '113781' '19988' '9234' '367226' '226593' 'A/5 2466' '17421' 'PC 17758'
 'P/PP 3381' 'PC 17485' '11767' 'PC 17608' '250651' '349243'
 'F.C.C. 13529' '347470' '29011' '36928' '16966' 'A/5 21172' '349219'
 '234818' '345364' '28551' '111361' '113043' 'PC 17611' '349225' '7598'
 '113784' '248740' '244361' '229236' '248733' '31418' '386525'
 'C.A. 37671' '315088' '7267' '113510' '2695' '2647' '345783' '237671'
 '330931' '330980' 'SC/PARIS 2167' '2691' 'SOTON/O.Q. 3101310' 'C 7076'
 '110813' '2626' '14313' 'PC 17477' '11765' '3101267' '323951' 'C 7077'
 '113503' '2648' '347069' 'PC 17757' '2653' 'STON/O 2. 3101293' '349227'
 '27849' '367655' 'SC 1748' '113760' '350034' '3101277' '350052' '350407'
 '28403' '244278' '240929' 'STON/O 2. 3101289' '341826' '4137' '315096'
 '28664' '347064' '29106' '312992' '349222' '394140' 'STON/O 2. 3101269'
 '343095' '28220' '250652' '28228' '345773' '349254' 'A/5. 13032' '315082'
 '347080' 'A/4. 34244' '2003' '250655' '364851' 'SOTON/O.Q. 392078'
 '110564' '376564' 'SC/AH 3085' 'STON/O 2. 3101274' '13507' 'C.A. 18723'
 '345769' '347076' '230434' '65306' '33638' '113794' '2666' '113786'
 '65303' '113051' '17453' 'A/5 2817' '349240' '13509' '17464'
 'F.C.C. 13531' '371060' '19952' '364506' '111320' '234360' 'A/S 2816'
 'SOTON/O.Q. 3101306' '113792' '36209' '323592' '315089' 'SC/AH Basle 541'
 '7553' '31027' '3460' '350060' '3101298' '239854' 'A/5 3594' '4134'
 '11771' 'A.5. 18509' '65304' 'SOTON/OQ 3101317' '113787' 'PC 17609'
 'A/4 45380' '36947' 'C.A. 6212' '350035' '315086' '364846' '330909'
 '4135' '26360' '111427' 'C 4001' '382651' 'SOTON/OQ 3101316' 'PC 17473'
 'PC 17603' '349209' '36967' 'C.A. 34260' '226875' '349242' '12749'
 '349252' '2624' '2700' '367232' 'W./C. 14258' 'PC 17483' '3101296'
 '29104' '2641' '2690' '315084' '113050' 'PC 17761' '364498' '13568'
 'WE/P 5735' '2908' '693' 'SC/PARIS 2146' '244358' '330979' '2620'
 '347085' '113807' '11755' '345572' '372622' '349251' '218629'
 'SOTON/OQ 392082' 'SOTON/O.Q. 392087' 'A/4 48871' '349205' '2686'
 '350417' 'S.W./PP 752' '11769' 'PC 17474' '14312' 'A/4. 20589' '358585'
 '243880' '2689' 'STON/O 2. 3101286' '237789' '13049' '3411' '237565'
 '13567' '14973' 'A./5. 3235' 'STON/O 2. 3101273' 'A/5 3902' '364848'
 'SC/AH 29037' '248727' '2664' '349214' '113796' '364511' '111426'
 '349910' '349246' '113804' 'SOTON/O.Q. 3101305' '370377' '364512'
 '220845' '31028' '2659' '11753' '350029' '54636' '36963' '219533'
 '349224' '334912' '27042' '347743' '13214' '112052' '237668'
 'STON/O 2. 3101292' '350050' '349231' '13213' 'S.O./P.P. 751' 'CA. 2314'
 '349221' '8475' '330919' '365226' '349223' '29751' '2623' '5727' '349210'
 'STON/O 2. 3101285' '234686' '312993' 'A/5 3536' '19996' '29750'
 'F.C. 12750' 'C.A. 24580' '244270' '239856' '349912' '342826' '4138'
 '330935' '6563' '349228' '350036' '24160' '17474' '349256' '2672'
 '113800' '248731' '363592' '35852' '348121' 'PC 17475' '36864' '350025'
 '223596' 'PC 17476' 'PC 17482' '113028' '7545' '250647' '348124' '34218'
 '36568' '347062' '350048' '12233' '250643' '113806' '315094' '36866'
 '236853' 'STON/O2. 3101271' '239855' '28425' '233639' '349201' '349218'
 '16988' '376566' 'STON/O 2. 3101288' '250648' '113773' '335097' '29103'
 '392096' '345780' '349204' '350042' '29108' '363294' 'SOTON/O2 3101272'
 '2663' '347074' '112379' '364850' '8471' '345781' '350047' 'S.O./P.P. 3'
 '2674' '29105' '347078' '383121' '36865' '2687' '113501' 'W./C. 6607'
 'SOTON/O.Q. 3101312' '374887' '3101265' '12460' 'PC 17600' '349203'
 '28213' '17465' '349244' '2685' '2625' '347089' '347063' '112050'
 '347087' '248723' '3474' '28206' '364499' '112058' 'STON/O2. 3101290'
 'S.C./PARIS 2079' 'C 7075' '315098' '19972' '368323' '367228' '2671'
 '347468' '2223' 'PC 17756' '315097' '392092' '11774' 'SOTON/O2 3101287'
 '2683' '315090' 'C.A. 5547' '349213' '347060' 'PC 17592' '392091'
 '113055' '2629' '350026' '28134' '17466' '233866' '236852'
 'SC/PARIS 2149' 'PC 17590' '345777' '349248' '695' '345765' '2667'
 '349212' '349217' '349257' '7552' 'C.A./SOTON 34068' 'SOTON/OQ 392076'
 '211536' '112053' '111369' '370376']
['' 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12' 'D26' 'C110'
 'B58 B60' 'E101' 'F E69' 'D47' 'B86' 'F2' 'C2' 'E33' 'B19' 'A7' 'C49'
 'F4' 'A32' 'B4' 'B80' 'A31' 'D36' 'D15' 'C93' 'C78' 'D35' 'C87' 'B77'
 'E67' 'B94' 'C125' 'C99' 'C118' 'D7' 'A19' 'B49' 'D' 'C22 C26' 'C106'
 'C65' 'E36' 'C54' 'B57 B59 B63 B66' 'C7' 'E34' 'C32' 'B18' 'C124' 'C91'
 'E40' 'T' 'C128' 'D37' 'B35' 'E50' 'C82' 'B96 B98' 'E10' 'E44' 'A34'
 'C104' 'C111' 'C92' 'E38' 'D21' 'E12' 'E63' 'A14' 'B37' 'C30' 'D20' 'B79'
 'E25' 'D46' 'B73' 'C95' 'B38' 'B39' 'B22' 'C86' 'C70' 'A16' 'C101' 'C68'
 'A10' 'E68' 'B41' 'A20' 'D19' 'D50' 'D9' 'A23' 'B50' 'A26' 'D48' 'E58'
 'C126' 'B71' 'B51 B53 B55' 'D49' 'B5' 'B20' 'F G63' 'C62 C64' 'E24' 'C90'
 'C45' 'E8' 'B101' 'D45' 'C46' 'D30' 'E121' 'D11' 'E77' 'F38' 'B3' 'D6'
 'B82 B84' 'D17' 'A36' 'B102' 'B69' 'E49' 'C47' 'D28' 'E17' 'A24' 'C50'
 'B42' 'C148']
['S' 'C' 'Q' '']
['Lower' 'Upper' 'Middle']
['M' 'F']

In [632]:
dfData.describe()

          0    1    2     3     4    5    6      7    8    9
count   891  891  891   891   891  891  891    891  891  891
unique   89    7    7   681   248  148    4      3    2    2
top            0    0  1601  8.05         S  Lower    M    N
freq    177  608  678     7    43  687  644    491  577  549

In [633]:
enc = OneHotEncoder(handle_unknown='ignore')
dfDataEncoded = dfData
enc_df = pd.DataFrame(enc.fit_transform(dfData[[8]]).toarray())
dfDataEncoded = dfDataEncoded.join(enc_df, how='right',rsuffix= 'Passenger_sex')
print(dfDataEncoded.columns)

Index(['0', '1', 2, 3, 4, 5, 6, 7, 8, 9, '0Passenger_sex', '1Passenger_sex'], dtype='object')

In [634]:
enc_df = pd.DataFrame(enc.fit_transform(dfData[[7]]).toarray())
dfDataEncoded = dfDataEncoded.join(enc_df, how='right',rsuffix= 'Class')
enc_df = pd.DataFrame(enc.fit_transform(dfData[[6]]).toarray())
dfDataEncoded = dfDataEncoded.join(enc_df, how='right',rsuffix= 'Embarked')
enc_df = pd.DataFrame(enc.fit_transform(dfData[[5]]).toarray())
dfDataEncoded = dfDataEncoded.join(enc_df, how='right',rsuffix= 'Cabin')
enc_df = pd.DataFrame(enc.fit_transform(dfData[[3]]).toarray())
dfDataEncoded = dfDataEncoded.join(enc_df, how='right',rsuffix= 'Ticket')

In [635]:
dfDataEncoded = dfDataEncoded.drop(['8'], axis=1)
dfDataEncoded = dfDataEncoded.drop(['7'], axis=1)
dfDataEncoded = dfDataEncoded.drop(['6'], axis=1)
dfDataEncoded = dfDataEncoded.drop(['5'], axis=1)
dfDataEncoded = dfDataEncoded.drop(['3'], axis=1)

In [636]:
dfDataEncoded.head()

,0,1,2,4,9,0Passenger_sex,1Passenger_sex,0,1,2Class,...,671,672,673,674,675,676,677,678,679,680
0,22.0,1,0,7.25,N,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,38.0,1,0,71.2833,Y,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,26.0,0,0,7.925,Y,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,35.0,1,0,53.1,Y,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35.0,0,0,8.05,N,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [637]:
dfDataEncoded.dtypes

0       object
1       object
2       object
4       object
9       object
        ...
676    float64
677    float64
678    float64
679    float64
680    float64
Length: 842, dtype: object

In [638]:
dfDataEncoded = dfDataEncoded.replace(r'^\s*$', 0, regex=True)

In [639]:
dfDataEncoded['0'] = dfDataEncoded['0'].astype(float)
dfDataEncoded['1'] = dfDataEncoded['0'].astype(float)
dfDataEncoded['2'] = dfDataEncoded['0'].astype(float)
dfDataEncoded['4'] = dfDataEncoded['0'].astype(float)
dfDataEncoded.dtypes

0      float64
1      float64
2      float64
4      float64
9       object
        ...
676    float64
677    float64
678    float64
679    float64
680    float64
Length: 842, dtype: object

In [640]:

# Ahora vamos a separar la informacion de la siguiente forma
# Entrenamiento 80%
# Pruebas 20%
x_train, x_test, y_train, y_test = train_test_split(
     dfDataEncoded.loc[:, dfDataEncoded.columns != '9'], dfDataEncoded.loc[:, dfDataEncoded.columns == '9'], test_size=0.20, shuffle=True)

In [641]:
# Revisamos la cantidad en test y train
print(len(x_train))
print(len(y_train))
print(len(x_test))
print(len(y_test))

712
712
179
179

In [642]:
# Ahora vamos a separar la informacion de entrenamiento de la siguiente forma
# Entrenamiento 75%
# Validacion 25%

#Lo cual nos dara un resultado total de 
# Entrenamiento 60%
# Validacion 20%
# Pruebas 20%


x_train, x_val, y_train, y_val = train_test_split(
     x_train, y_train, test_size=0.25, shuffle=True)

In [643]:
# Revisamos la cantidad en test y train
print(len(x_train))
print(len(y_train))
print(len(x_val))
print(len(y_val))
print(len(x_test))
print(len(y_test))

534
534
178
178
179
179

In [644]:
y_train['9'] = y_train['9'].map({'Y': 1, 'N': 0})
y_train

     9
11   1
732  0
845  0
110  0
168  0
..  ..
89   0
688  0
825  0
282  0
501  0

[534 rows x 1 columns]

In [645]:
y_val['9'] = y_val['9'].map({'Y': 1, 'N': 0})
y_val

     9
683  0
46   0
669  1
175  0
134  0
..  ..
549  1
796  1
64   0
130  0
306  1

[178 rows x 1 columns]

In [646]:
y_test['9'] = y_test['9'].map({'Y': 1, 'N': 0})
y_test

     9
582  0
822  0
288  1
680  0
7    0
..  ..
135  0
421  0
682  0
835  1
352  0

[179 rows x 1 columns]

In [647]:
clf = tree.DecisionTreeClassifier(splitter="random", criterion="entropy")
clf = clf.fit(x_train[0:], y_train[0:])
clf.score(x_val[0:], y_val[0:])

0.8314606741573034

In [648]:

clsvm = svm.SVC(kernel='linear')
clsvm.fit(x_train[0:], y_train[0:])
clsvm.score(x_val[0:], y_val[0:])

/opt/anaconda2/envs/tf/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

0.8146067415730337

In [649]:
gnb = BernoulliNB()
naiveBayes = gnb.fit(x_train[0:], y_train[0:])
naiveBayes.score(x_val[0:], y_val[0:])

/opt/anaconda2/envs/tf/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8033707865168539

In [650]:
def logModel(epochs, lr, x, xlabels, nlabels , filas, cols , bs , test, testlabels ):
    tf.reset_default_graph()
    x_train = tf.constant(x[:,:])
    x_train = tf.cast(x_train, tf.float32)
    y_tr = tf.one_hot(xlabels[:],nlabels)
    y_test = tf.one_hot(testlabels[:],nlabels)
    ws = tf.Variable(tf.truncated_normal([cols, nlabels]))
    log = tf.matmul(x_train, ws)
    loss = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(labels = y_tr,logits=log))
    error_summary = tf.summary.scalar(name="LOSS", tensor=loss)
    grads = tf.gradients(loss, ws)
    newws =  tf.subtract(ws ,tf.multiply(lr , grads[0] ))
    updatews = tf.assign(ws, newws)
    x_traint = tf.constant(test[:,:])
    x_traint = tf.cast(x_traint, tf.float32)
    logtest = tf.nn.softmax(tf.matmul(x_traint, newws))
    
    accuracy = tf.reduce_all(tf.equal(logtest, y_test), axis = 1)
    accuracyPerc = tf.reduce_sum(tf.cast(accuracy, tf.float32))/len(test)
    acc_summary = tf.summary.scalar(name="ACCURACY", tensor=accuracyPerc)
    init = tf.global_variables_initializer()
    with tf.Session() as sess:
        writer = tf.summary.FileWriter(('.graphs/graphs_'+str(lr)+str(epochs)), sess.graph)
        sess.run(init)
        for epoch in range(epochs): 
            e_summary = sess.run(error_summary)
            sess.run(updatews) 
            if epoch % 100 == 0:
                print(x_train.eval()[0:10])
                print('Epoch', epoch , 'LOSS = ', loss.eval())
                print('Epoch', epoch , 'Acc = ', accuracyPerc.eval())
                a_summary = sess.run(acc_summary)
                writer.add_summary(a_summary,epoch)
            
            writer.add_summary(e_summary,epoch)
        return(ws.eval())

In [651]:
x_train.head()
modeloreglog = logModel(6000,0.001,np.array(x_train[0:]),np.array(y_train['9'][0:]),
        2,534,841,32,np.array(x_val[0:]), np.array(y_val['9'][0:])  )

,0,1,2,4,0Passenger_sex,1Passenger_sex,0,1,2Class,0Embarked,...,671,672,673,674,675,676,677,678,679,680
11,58.0,58.0,58.0,58.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
732,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
845,42.0,42.0,42.0,42.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
110,47.0,47.0,47.0,47.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 0 LOSS =  15.983785
Epoch 0 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 100 LOSS =  0.8939598
Epoch 100 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 200 LOSS =  0.88276786
Epoch 200 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 300 LOSS =  0.8724942
Epoch 300 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 400 LOSS =  0.86301976
Epoch 400 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 500 LOSS =  0.85424393
Epoch 500 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 600 LOSS =  0.8460802
Epoch 600 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 700 LOSS =  0.8384546
Epoch 700 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 800 LOSS =  0.83130425
Epoch 800 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 900 LOSS =  0.8245752
Epoch 900 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 1000 LOSS =  0.81822056
Epoch 1000 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 1100 LOSS =  0.8122008
Epoch 1100 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 1200 LOSS =  0.8064811
Epoch 1200 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 1300 LOSS =  0.801032
Epoch 1300 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 1400 LOSS =  0.79582834
Epoch 1400 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 1500 LOSS =  0.7908472
Epoch 1500 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 1600 LOSS =  0.78606915
Epoch 1600 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 1700 LOSS =  0.7814776
Epoch 1700 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 1800 LOSS =  0.77705735
Epoch 1800 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 1900 LOSS =  0.77279574
Epoch 1900 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 2000 LOSS =  0.7686814
Epoch 2000 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 2100 LOSS =  0.7647039
Epoch 2100 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 2200 LOSS =  0.7608544
Epoch 2200 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 2300 LOSS =  0.757125
Epoch 2300 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 2400 LOSS =  0.75350887
Epoch 2400 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 2500 LOSS =  0.74999934
Epoch 2500 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 2600 LOSS =  0.7465906
Epoch 2600 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 2700 LOSS =  0.7432776
Epoch 2700 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 2800 LOSS =  0.74005586
Epoch 2800 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 2900 LOSS =  0.736921
Epoch 2900 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 3000 LOSS =  0.7338691
Epoch 3000 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 3100 LOSS =  0.7308965
Epoch 3100 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 3200 LOSS =  0.72800016
Epoch 3200 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 3300 LOSS =  0.72517675
Epoch 3300 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 3400 LOSS =  0.7224238
Epoch 3400 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 3500 LOSS =  0.7197382
Epoch 3500 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 3600 LOSS =  0.717118
Epoch 3600 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 3700 LOSS =  0.71456087
Epoch 3700 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 3800 LOSS =  0.71206456
Epoch 3800 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 3900 LOSS =  0.709627
Epoch 3900 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 4000 LOSS =  0.7072466
Epoch 4000 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 4100 LOSS =  0.70492107
Epoch 4100 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 4200 LOSS =  0.7026489
Epoch 4200 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 4300 LOSS =  0.70042866
Epoch 4300 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 4400 LOSS =  0.6982585
Epoch 4400 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 4500 LOSS =  0.69613713
Epoch 4500 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 4600 LOSS =  0.694063
Epoch 4600 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 4700 LOSS =  0.6920352
Epoch 4700 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 4800 LOSS =  0.69005144
Epoch 4800 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 4900 LOSS =  0.68811136
Epoch 4900 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 5000 LOSS =  0.6862133
Epoch 5000 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 5100 LOSS =  0.68435615
Epoch 5100 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 5200 LOSS =  0.68253917
Epoch 5200 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 5300 LOSS =  0.68076086
Epoch 5300 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 5400 LOSS =  0.67902035
Epoch 5400 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 5500 LOSS =  0.67731637
Epoch 5500 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 5600 LOSS =  0.6756482
Epoch 5600 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 5700 LOSS =  0.67401475
Epoch 5700 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 5800 LOSS =  0.6724151
Epoch 5800 Acc =  0.0
[[58. 58. 58. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [42. 42. 42. ...  0.  0.  0.]
 ...
 [31. 31. 31. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]
 [ 0.  0.  0. ...  0.  0.  0.]]
Epoch 5900 LOSS =  0.6708485
Epoch 5900 Acc =  0.0

In [620]:
# Vamos a Evaluar la regresion logistica
#labels = { 1: 1 , 0: 0}
#logitspred = np.matmul(np.array(x_test[0:]),modeloreglog)
#logitspred